@font-face {
  font-family: "Friz Quadrata";
  src: url("./assets/Friz\ Quadrata\ Regular.ttf");
}

#App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: #282c34;
  color: white;
  font-family: "Friz Quadrata";
  font-size: 20px;
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

#app-header {
  width: 100%;
  max-width: 1499px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#app-header p {
  max-width: 55ch;
  text-align: left;
  line-height: 1.5;
}

#listArea {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#formArea {
  display: flex;
  flex-flow: row wrap;
}

#boxLabel, #summoner{
  width: 50%;
}

#submitButton {
  box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
  font-weight:bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
	padding:12px 45px;
	text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}

#submitButton:hover {
  background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}

#submitButton:active {
  position:relative;
	top:1px;
}

#dataBullets li {
  margin-bottom: 8px;
}

#app-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 120px;
  width: 100%;
  font-size: 1.3em;
  text-align: right;
  line-height: 2;
}

a {
  text-decoration: none;
  color: white;
  padding: 20px;
}